<div class="p-h-sm p-v-sm bg-white box-shadow " >
	
		<div class="col-xs-12">
			<percent-indicator value-suffix="Your Score is :" show-percentage="true" total-value="course.totalMark" obtain-value="course.markScored"></percent-indicator>
		</div>
	
  <h4 class="no-margin">Course Details</h3>
</div>
<div class="col-md-12 p-h-sm p-v-sm bg-white box-shadow ">
	 <div class="row">

	            <div class="col-xs-12 am-fade">
	              <em class="text-muted text-baabtra-green">
	              The time line below represents the total duration of the course. 
	              </em>
	              <br>
	              <course-timeline class="p-v" total-duration="course.Duration.durationInMinutes"   sync-data="course" tl-elements="['course.courseTimeline']" course-id="courseid" valid = "valid" course-preview-obj="coursePreviewObject">

	          </course-timeline>
	        </div>
	 </div>
</div>
<div class="col-md-12 p">
<course-streamline course-id="courseid" preview-data="coursePreviewObject"></course-streamline>
</div>
