      <div class="col-xs-12" >
        <div class="panel b-warning b-2x" >
          <div class="panel-heading font-bold text-white bg-00C853 p baab-shadow" >
            {{courseData.Name}}
          </div>
          <div class="panel-body" >
              <div class="col-xs-12 bg-light p">
              <span class="course-description" ng-bind-html="courseData.Description"></span>
              <div class="text-warning" ng-repeat="(key, val) in courseData.Duration.DurationDetails">
                Duration: {{ val+" "+ key}}
              </div>
              <div class="col-xs-12 text-center">
                  <button class="btn  btn-success b-3x baab-btn" ng-click="navigateToTimeline(courseData.fkCourseId)">Take me to this course</button> 
              </div>
              </div>
           
        </div>
     </div>
</div>