<div class="row">
  <div class="col-xs-12">
    <div class="panel b-t b-03A9F4 bg-light dk">
      <div set-sub-heading-and-background-color class="panel-heading font-bold text-white  p baab-shadow" >
        <span translate="{{'My Courses'|translate}}"></span>
        <div class="col-xs-2 pull-right" ng-if="!courses.length && courses">
          <div class="input-group">
            <span class="input-group-btn" style="position: relative;top: -6px;left: 5px;">
              <button type="submit" class="btn btn-sm no-bg btn-icon no-shadow no-padder">
                <i class="fa fa-search text-white text-md"></i>
              </button>
            </span>
            <input type="text" class="form-control m-b text-white place-white" ng-model="SearchCourse" placeholder="{{'Search Course'|translate}}" >
          </div>
          <!-- <input type="text" class="form-control m-b text-white place-white" placeholder="Search Course"> -->
          </div>
      </div>
      <div class="panel-body">
        <div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}' ng-if="courses.length">
          <div  masonry-tile class="tile col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left masonry-brick" ng-repeat="course in courses | filter:SearchCourse">
            <div class="panel course-box" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">
                 
                 <div class="panel-body text-center">
                  <img ng-src="{{ course.courseImg }}" >
                    <div class="font-bold text-black p-v-xs m-h-sm">{{course.Name}}</div>
                    <div class="text-black  course-description text-muted content-limiter "ng-bind-html="course.Description"></div>
                    <div>
                      <div class="btn btn-material-blue-400" ng-click="navigateToClassroom(course._id.$oid)" translate="{{'Take me to classroom'|translate}}"></div>
                    </div>
                  </div>
            </div>
           </div>
           </div>
           <div class="col-xs-12 p bg-warning shadow-z-1 font-bold" ng-if="!courses.length && courses">
              Courses not found..!
           </div>
      </div>
    </div>
  </div>
</div>