<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="panel">
      <div class="p-h p-v-sm bg-info font-bold">
        {{data.headName}} section
      </div>
      <div class="panel-body">
        <form name="childForm">
          <div class="row">
            <div class="col-xs-12">
              <input type="text" class="form-control" ng-model="data.child.name"  placeholder="{{'Section name'|translate}}" required ng-disabled="data.child.parent">
            </div>
          </div>
          <div class="row m-t-xs" ng-if="data.markingCriteria">
            <div class="col-xs-6" >
              <label translate="{{'Evaluation Type'|translate}}"></label>
              <button type="button" class="btn btn-default no-margin" ng-model="data.child.mark.type" data-html="1" ng-options="icon.value as icon.label for icon in data.markingCriteria" bs-select>
              Action <span class="caret"></span>
            </div>
            <div class="col-xs-6" ng-if="data.child.mark.type == 'mark'">
              <div class="col-xs-6">
                <input type="number" class="form-control " ng-model="data.child.mark.minMark"  placeholder="{{'Min Pass Mark'|translate}}" ng-change="markChanged(childForm)" required>
              </div>
              <div class="col-xs-6">
                <input type="number" class="form-control col-xs-6" ng-model="data.child.mark.maxMark"  placeholder="{{'Max Mark'|translate}}" ng-change="markChanged(childForm)" required>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer no-padding">
        <button type="button" class="btn btn-warning baab-btn" style="margin-right: 10px;" ng-click="cancelNodeEdit($hide)">Cancel</button>
        <button ng-if="data.headName == 'Add'" type="button" class="btn btn-info baab-btn" style="margin-right: 10px;margin-top: 0px;" ng-click="addNewChild(data.item, data.child.name, $hide)" ng-disabled="childForm.$invalid" disabled="disabled">{{data.headName}}</button>
        <button ng-if="data.headName == 'Update'" type="button" class="btn btn-info baab-btn" style="margin-right: 10px;margin-top: 0px;" ng-click="updateNewChild($hide)" ng-disabled="childForm.$invalid" disabled="disabled">{{data.headName}}</button>
      </div>
    </div>
  </div>
</div>
