<div class="app-aside-inner" bs-affix >
	<!-- <perfect-scrollbar> -->
    
		<div class="app-aside-body scrollable hover" ng-if="$root.userinfo.ActiveUserData.modernView == 'modern' && linkPath.length" ui-view="aside@" style="margin-top: 12px;">   
  	</div>
   
	<!-- </perfect-scrollbar> -->
  
  <!-- <div class="app-aside-footer p text-xs text-center">
    <span><strong class="text-lt">3.5</strong>GB</span>
    <div class="progress progress-xs bg no-margin m-h-xs inline w-xs">
      <div class="progress-bar progress-bar-info" style="width:30%"></div>
    </div>
    <span>10GB</span>
  </div> -->
</div>