<div class="row m-t-n">
	<div class="col-xs-12 bg-light h-full p-v" style="min-height:800px;">

	 <div class="row no-padding m-b bg-white shadow-z-1 header" style="position:fixed; width:105%; z-index:100;" >
          <div class="col-xs-12 no-padding">


		            <!-- HEADER -->
        <div class="row m">
                <div class="col-xs-4 ">
                  
                  <div class="col-md-push-2 col-xs-push-0 col-md-8 col-xs-12 col-sm-12">

                        <input ng-model="data.searchText" ng-change="searchKeyChanged(data.searchText)" type="text" class="form-control col-xs-8" placeholder="Search Course" />
                  </div>
                </div>
                <div class="col-xs-7 text-right">
                	<div class="btn-group no-margin">
						<button type="button" ng-disabled="data.pageNumber==1" class="btn btn-info" ng-click="pageNavigation('prev')"><i class="fa fa-fw fa-angle-left"></i></button>
						
						<button type="button" ng-disabled="data.courses.courses.length<12" class="btn btn-info" ng-click="pageNavigation('next')"><i class="fa fa-fw fa-angle-right"></i></button>
					</div>
                </div>
        </div>
        </div>
        </div>



        <div class="" style="margin-top:100px;" >		
		<!-- ng-if="showOrderFormOnStatus(orderForm.status) && getOptions(orderForm.status,$index).length"	 -->
		<span class="col-md-push-2 col-xs-push-1 col-md-8 col-xs-12 col-sm-12 font-bold no-padding m-b" style="text-transform:uppercase;">Configure Marksheet</span>
		<div ng-if="data.courses.courses.length==0" class="col-md-push-2 col-md-8 col-xs-12 col-sm-12 p-sm shadow-z-1 alert alert-danger">
      	<strong translate="{{'There are no courses.!'|translate}}"></strong> 
		</div>
			<div ng-repeat="course in data.courses.courses" class="col-md-push-2 col-md-8 col-xs-12 col-sm-12 p-h-sm shadow-z-1  pull-left bg-white" style="cursor: pointer;">

						

						<div class="row  p-v-sm b-b" >
							<div class="col-xs-12 font-bold">
								{{course.Name}}
							</div>
							<div class="col-xs-12">
							<!-- 	<i ng-if="!course.showDetails" class="m-l mdi-navigation-unfold-more text-md pull-right p-xs" ng-click="course.showDetails=true" title="{{'Expand'|translate}}"><span class="hidden-xs" translate="{{'Expand'|translate}}"></span></i>

								<i ng-if="course.showDetails" class="m-l mdi-navigation-unfold-less text-md pull-right p-xs" ng-click="course.showDetails=false" title="{{'Collapse'|translate}}"><span class="hidden-xs" translate="{{'Collapse'|translate}}"></span></i> -->

								<i class="mdi-action-settings text-md pull-right p-xs" ng-click="openPopup(course)" title="Configure Marksheet"><span class="hidden-xs">Configure</span></i>
						
							</div>
						</div>
<!-- 
						<div  ng-if="course.showDetails" >
						<div class="row p-v-sm">
						
							<div class="col-xs-12">
								<label class="font-bold col-xs-2">Email</label>
								<span class="col-xs-6">
								lijin@baabte.com
								</span>
							</div>
						</div>
							

					<div class="row p-xs">
						<div class="col-xs-12">
							<div class="col-xs-12 p-xs">
							<div class="col-xs-12 no-padding bg-success text-white p-l">
								<b style="padding: 3px;" class="pull-left">Test - footer name</b>

                    		</div>
                    	
							</div>
						</div>
					</div>
					</div> -->
					</div>

				</div>
    </div>
</div>