<div class="modal  fade w-auto-xs" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-xl" style="width: 35%">
    <div class="panel">
    	<div class="p-sm text-lg bg-warning">
    		Wait..!
    	</div>
      <div class="panel-body">
        <div class="box">
            <div class="col-xs-12">
            	Seems like you've gone offline, you might want to wait until your network comes back before continuing.
            </div>

            <div class="col-xs-12 m-t-lg">
            	This message will self-destruct once you're online again.
            </div>

            <div class="col-xs-12 m-t-lg font-bold text-danger link" ng-click="closeThisOfflineMsgModal($hide)">
            	Relax, I know what I'm doing
            </div>

            
            
            
       </div>
      </div>   
    </div>
  </div> 
</div>