<div class="m-b m-t">
	
      	<input type="number" min="0" class="form-control " float-label required xt-validate   name="TotalMarks" ng-model="markObj.totalMark" placeholder="{{'Total Marks'|translate}}">
		<div class="col-xs-12 m-v-md" ng-if="customMarks" ng-repeat="criteria in markObj.markCriteria">
			<div class="col-xs-12 col-sm-6">
				
				  	<input class="form-control " float-label placeholder="{{'Mark Criteria'|translate}}" ng-change="criteriaTyped(markObj.markCriteria[$index].criteria,$index)" name="option" ng-model="markObj.markCriteria[$index].criteria">
			
			   
			    	<i class="pull-right mdi-av-playlist-add text-2x" data-placement="left" bs-dropdown="dropDown($index)"></i>
				

			</div>

			<div class="col-xs-12 col-sm-6">
			   
	        		<input class="form-control " float-label placeholder="{{'Mark'|translate}}"  name="mark" ng-change="markChanged($index)" ng-model="markObj.markCriteria[$index].mark" type="number" min="0" xt-validate>
			  
			</div>
			
    	</div>
</div>