<div>


<div class="row m-b" ng-if="totalMarks!=0">
<div class="col-xs-6">
<span class="font-bold" translate="{{'Total Marks: ' | translate}}"> </span>&nbsp;{{totalMarks}}
</div>

<!-- <div class="col-xs-6 pull-right font-bold m-r-xs text-success text-right">
<span translate="{{'Marks Scored: ' | translate}}"> </span>&nbsp;{{result.data.markScored}}
</div> -->
</div>

<div class="row m-b">
<div class="col-xs-12">
<span class="font-bold" translate="{{'Duration: ' | translate}}"> </span>&nbsp;{{data.value.duration.duration}}&nbsp;{{data.value.duration.durationUnit}}
</div>
</div>


<div class="row" class="row m-b" ng-if="data.value.penaltyArray.length">
<div class="col-xs-12 font-bold">
	Penalty Rules
</div>
</div>

<div class="col-xs-12" ng-repeat="rule in data.value.penaltyArray">	
				<div class="col-xs-12 col-md-12 m-t-xs" ng-class="{'btn-material-amber-A200':fnShowPenaltyAppliedStatus(rule)}">
					<div class="col-xs-10">
						<i class="text-danger">
						{{$index + 1}}. When {{rule.submissionMode}} {{fnShowByDate(rule.submissionMode, rule.lateTime, rule.lateTimeUnits)}},{{fnShowBlockSubmission(rule.blockSubmission)}} reduce {{rule.reductionUnits}}{{rule.penaltyCalculationUnit}} {{fnSHowPenaltyFrequency(rule)}}
						</i>
					</div>

					<div class="col-xs-2" ng-if="fnShowPenaltyAppliedStatus(rule)">
						<i class="mdi-action-assignment-turned-in font-bold text-success">Applied</i>
					</div>
				</div>
				
</div>




</div>