<div class="row">
  <div class="col-xs-12 p bg-light">
  	<div class="col-xs-12 m">
        <div class="form-group col-xs-6 col-md-3">
            <input class="form-control floating-label" type="text" ng-model="data.searchKey" placeholder="Search" data-hint="You can search any key-word that mathces a Parent, like e-mail,First name , Last name... etc.">
        </div>
        <div class="form-group col-xs-6 col-md-3">
             <button ng-click="searchParents()" class="btn btn-primary">Get parents</button>
        </div>
    </div>
  </div>
  <div class="col-xs-12 p ">
  	<div class="col-lg-10 col-xs-12 col-lg-offset-2">
<!-- <pre>{{$root.userinfo.ActiveUserData.appSettings.asideColor.split('btn-material-')[1]}}</pre> -->
  		<div ng-repeat="parent in data.parents" class="col-xs-10 col-md-5 col-lg-2 m shadow-z-2 bg-white p-md">
  			<!-- <div class="col-xs-12"> -->
  				<div class="col-xs-1 pull-right mdi-navigation-more-vert link" data-placement="bottom-right" bs-dropdown="buildActions($index)" html="true">
  				</div>
  				<div class="col-xs-12">
  					<!-- shows if there have profile image -->
            <div class="text-center" ng-if="parent.profile.userPic"><img src="{{parent.profile.userPic}}" class=""></div>
  					<div class="text-center" ng-if="!parent.profile.userPic"><img src="images/default_person.png" class=""></div>

  					<!-- shows if there is no profile pic -->
					<!-- <i ng-if="!parent.profile.userPic"  class="mdi-action-assignment-ind text-lg random-background-color img-circle p-xs  btn-material-purple-500 btn-material-red-900"></i> -->

  				</div>
  				<div class="col-xs-12 m-t-xs">
  					<span class="col-xs-10 font-bold">{{parent.profile.firstName+' '+parent.profile.lastName}}</span>
  					<span class="col-xs-10" >
              
              <a href="mailto:{{parent.userName}}" class="text-info"><i class="mdi-communication-email"></i>&nbsp;{{parent.userName}}</a>
            </span>
  					<span class="col-xs-10">
              
              <a href="callto:{{parent.profile.phone}}" class="text-info"><i class="mdi-communication-call"></i>&nbsp;{{parent.profile.phone}}</a>              
            </span>
  				</div>

  			<!-- </div> -->
  		</div>
  	</div>
 </div>
</div>