<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="formRepeat" class=" ng-pristine ng-valid"> 
      <div class="modal-header">  
        <button type="button" class="close" ng-click="fnChangeMode($hide)">×</button> 
        <h4 class="modal-title text-primary" translate="{{'Repeat'|translate}}"></h4>
      </div>
      <div class="modal-body">
       <div class="row"> 
           <div class="col-xs-12 col-sm-12">
            <div class="form-group">
               <label for="select" class="control-label" translate="{{'Repeats'|translate}}"></label>
                <select class="form-control" id="select" ng-model="Batch.repeatName" ng-change="fnLoadsubItem(Batch.repeatName)" ng-options="rpt.id as rpt.text for rpt in repeatArrays" required  value="{{rpt}}" required>
                  <option selected="selected" value=""   >select an option</option>
                  <!-- <option ng-repeat = "repeatArray in repeatArrays"  value="{{repeatArray.id}}">{{repeatArray.text}}</option> -->  
                </select>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
               <label for="select" class="control-label" translate="{{'Repeat every'|translate}}" ></label>
                <select class="form-control" id="select" ng-model="Batch.repeats.every" ng-click="fnCalcDays(Batch.repeats.every)" required ng-options="row for row in repeatEvery" value="">
                   <option selected="selected" value=""  >select an option</option>
                  <!-- <option ng-repeat = "row in repeatEvery" value="{{row}}">{{row}}</option>   -->
                </select> 
                </div>
                <div class="col-xs-6">
                <label class="m-v" >{{Batch.repeats.repeatType}}</label>
                </div>
                </div>
            </div>
            
            <div class="form-group">
             <label translate="{{'Dont Start On'|translate}}" ></label>
               <div class= "row">
                    <div class="col-xs-12">
                     <div class="checkbox checkbox-inline no-margin"  ng-repeat="day in days" bs-tooltip data-title="{{day.id}}"  value="{{day.text}}"  >
                        <label >
                            <input type="checkbox"value="day" ng-model="excludeDays" ng-click="fnExcludedDays(day.id)" ng-checked="Batch.repeats.excludedDaysRepeat.indexOf(day.id) > -1">{{day.text}}
                        </label>
                      </div>
                    </div>  
                </div>       
            </div> 
            <div class="form-group" ng-if="Batch.repeats.every!=null">
             <label translate="{{'Summary:'|translate}}" ></label>
               <div class= "row">
                    <div class="col-xs-12">
                     <h5 class="font-bold text-dark"> Repeat every {{Batch.repeats.every}} {{Batch.repeats.repeatType}}</h5>
                     <h5 class="font-bold text-dark" ng-if="excluded!=''">dont start on {{excluded}}</h5>
                    </div>  
                </div>       
            </div> 
          <!--  <div class="row">
            <div class="form-group">
             <input type="text" class="form-control" float-label ng-model="Batch.repeats.startDate" data-date-format="dd-MM-yyyy" data-placement="top" data-date-type="date" data-autoclose="true" data-min-date="today"  name="date1" bs-datepicker required placeholder="{{'Starts On'|translate}}">
            </div>
           </div> -->
           <!-- <div class="row">
            <div class="form-group">
             <input type="text" class="form-control" float-label ng-model="Batch.repeats.endDate" data-date-format="dd-MM-yyyy" data-placement="top" data-date-type="date" data-autoclose="true" data-min-date="today"  name="date2" bs-datepicker required placeholder="{{'Ends On'|translate}}">
            </div> 
           </div>   -->  
           </div>  
       
       </div>    
      </div>
      <div class="modal-footer">
         <button type="reset" class="btn btn-primary"  ng-disabled=" formRepeat.$pristine" translate="{{'Cancel'|translate}}" ></button>
        <button type="button" class="btn btn-primary" ng-click="savepopUpfn($hide)" ng-disabled="formRepeat.$invalid" translate="{{'Done'|translate}}" ></button>

      </div>
      </form> 
    </div>
  </div>
</div>
