<div class="col-xs-12 bg-light">
  <div class="row bg-white shadow-z-1 p-v-sm fixed-tab visible-xs">
    <div class="col-xs-12 ">
      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="">
           <i class="fa fa-calendar"></i> {{batchAttendance.attendanceTakingDate  | date:'EEEE, MMMM dd, yyyy'}}
          </div>
          <div class="btn-group no-margin hidden-xs">
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-left"></i></button>
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white m-t-lg" >
    <div class="col-xs-12 p-v">
      <!-- <div class="row">
        <div class="col-xs-12 text-right">
          <a class="btn btn-success baab-btn" style="line-height: 14px;">Submit Attendance</a>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-2 hidden-xs  text-xl text-center">
          <i class="fa fa-calendar"></i>
          <div>
            {{batchAttendance.attendanceTakingDate  | date:'EEEE, MMMM dd, yyyy'}}
          </div>
        </div>
        <div class="col-xs-12 col-md-10 b-l">
          <div class="table-responsive">
    <table class="table table-bordered bg-white" ng-if="batchAttendance.userDetails">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th ng-class="{'hidden-xs':batchAttendance.today != dayInWeek.date}" ng-repeat="dayInWeek in batchAttendance.dayInWeek">{{getWeekDate(dayInWeek) | date:'EEE dd'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in batchAttendance.userDetails">
          <td>{{$index + 1}}</td>
          <td>
            <div class="text-name">{{student.profile.firstName}}&nbsp;{{student.profile.lastName}}</div>
            <div class="text-muted text-sm">{{student.userName}}</div>
          </td>
          <td ng-class="{'bg-light':batchAttendance.today == dayInWeek.date, 'hidden-xs':batchAttendance.today != dayInWeek.date}" ng-repeat="dayInWeek in batchAttendance.dayInWeek">
            <select class="form-control" ng-model="student.attendanceTrack[dayInWeek.date]" ng-change="attendanceChanged(student.attendance, dayInWeek, student.attendanceTrack, student._id.$oid, student.fkUserLoginId.$oid, student.profile)">
              <option value="Present">Present</option>
              <option value="Planned leave">Planned leave</option>
              <option value="Absent">Absent</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>
