<div class="col-xs-12">
	<div class="row">
		<div class="tab-container col-xs-12">
		 	<div class="panel b-t b-00C853 bg-light dk ">
		 		<div set-sub-heading-and-background-color class="panel-heading font-bold text-white  p baab-shadow" translate="{{'Batch Assignment'|translate}}">
		 		
		 		</div>
				
				<div class="panel-body col-xs-12 bg-white p-sm b-b-danger b-b-3x no-padding fl-parent-height-main">
					 
					<div class="col-xs-12 col-sm-12 col-md-5  shadow-z-2 pull-left">
						<div class="row"  set-parent-height  parent-cl-name="'fl-parent-height-main'">
							<div class="col-xs-12 col-sm-8 col-md-8 m-t-sm">
								<course-multi-select exclude-list="excludeList" ng-model="batchObj.selectedCourseList" batch-mapping-id="batchMappingId"></course-multi-select><!-- {{batchObj.selectedCourseList}} -->
								
							</div>
							<div class="col-xs-4 col-sm-2 col-md-2 m-t-sm">
								<button class="btn btn-success" ng-disabled="!batchObj.selectedCourseList.length || !batchObj.selectedList.length" ng-click="assignCourseMaterials4Batch()" translate="{{'Assign'|translate}}" disabled="disabled"></button>
							</div>
						<!-- </div>
						<div class="row"> -->
							<div class="col-xs-12 col-sm-12 col-md-12 m-t-sm pull-left">
								<div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
									<div masonry-tile class="tile col-xs-12 col-sm-6 col-md-6" data-ng-repeat="course in batchObj.selectedCourseList">
				          				<!-- <course-element-preview course-id="selectedCourse" preview-data="course.courseElement"></course-element-preview> -->
				          				<material-preview data="course.courseElement"></material-preview>
				        			</div>
				        		</div>
							</div>
					
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 m-t-sm">
								<batch-view ng-if="batchObj.batchDetails" shadow="false" batch="batchObj.batchDetails"></batch-view>

							</div>
							
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 m-t-sm">
								<!-- <label floating-label translate="{{'User List'|translate}}"></label> -->
								<!--directive to load mentee list of selected batch-->
								<batch-mentee-list ng-if="batchObj.userList" user-list="batchObj.userList" ng-model="batchObj.selectedList"> </batch-mentee-list>
								<div class="text-center" ng-if="!batchObj.userList">
									<i class="fa fa-spinner fa-spin"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>