
<div class="col-xs-12">

<div class="row"><div class="tab-container col-md-12">
	 <div class="panel b-t b-00C853 bg-light dk"><div class="panel-heading font-bold text-white  p baab-shadow" translate="{{'Evaluate mentee'|translate}}" set-sub-heading-and-background-color></div>
		
		<div class="panel-body col-xs-12 bg-white b-b-danger no-padding-v b-b-3x" >
<!-- 		<form name="bulkEnrollmentForm" class="form-validation ng-pristine ng-invalid ng-invalid-required" role="form" xt-form="" novalidate=""> -->

			
			<div class="row">
			<div class="col-xs-12 shadow-z-2 h-full">
				<div class="col-xs-12 m-t  col-sm-4 col-md-4">
					<button type="button" class="btn btn-info" ng-model="selectedCourse" data-html="1" ng-options="course._id.$oid as course.Name for course in menteeObj.courseList" bs-select selected>
  					Action <span class="caret"></span>
					</button>

				</div>
				<div class="col-xs-12 m-t col-sm-4 col-md-4">
					<div class="formgen-dropdown m-xs" >
						<div multi-selectable selection-mode="single"  ng-show="menteeObj.userCourseElementlist.length" input-model="menteeObj.userCourseElementlist" output-model="menteeObj.selectedCourseMaterial" button-label="Name" item-label="Name"  tick-property="ticked" helper-elements="all none reset filter" default-label="Please select a course material">	
						</div>  <!-- on-item-click="onItemClick(data)" -->
						<div ng-if="menteeObj.userCourseElementlist.length==0" class="animated fadeIn">
							<!-- <i class="fa fa-spiner fa-spin text-lg text-info"></i> -->
					        <div class="alert ng-scope am-fade alert-button bg-danger lt text-white no-margin" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
					        
					          <strong class="ng-binding" translate="{{'Not Found!'|translate}}"></strong>&nbsp;
					          <span translate="{{'Not found any course material under this course'|translate}}"></span>
					        </div>

						</div>
						<div ng-if="status==false" class="animated fadeIn">
							<!-- <i class="fa fa-spiner fa-spin text-lg text-info"></i> -->
					        <div class="alert ng-scope am-fade alert-button bg-danger lt text-white no-margin" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
					        
					          <strong class="ng-binding" translate="{{'Not Found!'|translate}}"></strong>&nbsp;
					          <span translate="{{'There are no any course materials added for this mentee.'|translate}}"></span>
					        </div>

						</div>
					</div>
				</div>
				

				<div class="col-xs-12 col-sm-4 col-md-4 m-t">
						
						           
            <div class="col-xs-12 p-sm">

				<div class="b fl-parent-height" style="cursor: pointer;">
<!-- ng-if="timeLineObj.courseElement.excludeList.indexOf(user.fkUserRoleMappingId.$oid)==-1" -->
					<div class="row">
						<div class="col-xs-12">
							<div set-parent-height  parent-cl-name="'fl-parent-height'" class="col-xs-3 random-background-color text-center h-full" style="display:table-cell;">
								 <i class="mdi-action-perm-contact-cal text-3x"></i><br/>
							</div>
							<div class="col-xs-9" style="display:table-cell;">
								<div class="row">
										<div class="b-1x b-light text-1x col-xs-12 checkbox" ng-if="menteeObj.selectedCourseMaterial.length">
							  				<label><input ng-model="menteeObj.selectedCourseMaterial[0].courseElement.attendence" ng-change="fnMarkAttendence(menteeObj.selectedCourseMaterial[0])" type="checkbox"></label><small translate="{{'Mark attendance'|translate}}"></small>
							  			<!-- 	<label>
	            					  			<input ng-model="user.attendance" ng-change="fnMarkAttendence(user)" type="checkbox">
	        					  			</label> -->
							  			</div>
				        				<div class="b-4x b-light col-xs-12">
				                        <small>
				                        <div class="pull-left font-bold text-ellipsis">{{menteeObj.profile.profile.profile.firstName}} {{menteeObj.profile.profile.profile.lastName}}</div><br/>
				                        <div ><i>{{menteeObj.profile.username.userName}}</i> 
				                        <i class="fa pull-right text-xl text-success b-2x"></i></div>
				  						<div ng-if="menteeObj.selectedCourseMaterial.length" class="m-t">
											<i class="fa fa-calendar text-1x"></i> Day {{changeminutes2day(menteeObj.selectedCourseMaterial[0].tlpoint)}}
										<br>
							  			<div ng-if="menteeObj.selectedCourseMaterial.length" class="font-bold">
							  				<em>{{menteeObj.selectedCourseMaterial[0].userCourseElementType}}</em>
							  			</div>
							  			
										</div>
										</small>
				                        </div>
				                       
				                        
								</div>
							</div>
						</div>
					</div>       
				</div>
            </div>
						
				</div>
				</div>
			</div>
			<!-- course element details -->
			 <div class="col-xs-12">
				<div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
									
        		<div masonry-tile class="tile m-t-lg col-xs-12 col-sm-6 col-md-4" data-ng-repeat="course in menteeObj.selectedCourseMaterial">
          			<!-- <course-element-preview  preview-data="course.courseElement"></course-element-preview> -->
          			<material-preview data="course.courseElement"></material-preview>
        		</div>
        	
        		</div>
			</div> 
         <!--    </form> -->
		</div>
	</div>
</div>
</div>
</div>
