<!-- Created by Jihin 29 AUG 2015-->

<div class="aside shadow-z-1">
  <div class="aside-dialog">
    <div class="aside-content  ">
      <div class="aside-header" >
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="aside-title ng-binding">{{deptObj.asideHeader}}</h4>
      </div>
      <div class="aside-body no-padding-v" >
        <form name="branchDetail" class="form-validation ng-pristine ng-invalid ng-invalid-required">

            <!-- Department name -->
            <div class="form-group">
              <input type="text" class="form-control floating-label" placeholder="Department Name" ng-model="deptObj.newDept.name" required>
            </div>

            <!-- Department Details -->
            <div class="form-group">
              <textarea class="form-control" ng-model="deptObj.newDept.departmentDetails" rows="3" placeholder="Department Details"></textarea>
            </div>
        </form>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-info baab-btn"  ng-click="changesHappenedInDepartment(deptObj.newDept, $hide)" translate="{{deptObj.btnName|translate}}" ng-disabled="branchDetail.$invalid"></button>
      </div>
    </div>
  </div>
</div>
