<!--
Purpose : Page for load department under company branch
Created By : Jihin
Created On : 29/08/2015
-->
<div class="col-xs-12 bg-light">
    <div class="row">
        <div class="col-xs-3 bg-white p-v b-r">
            <div class="row">
                <div class="b col-xs-12 p-v-sm font-bold text-md bg-light">Create new department</div>
                <div class="col-xs-12 p-v-sm">
                    <branch-loader ng-model="deptObj.branch" on-branch-change="loadDepartmentUnderBranch">
                    <branch-loader>
                </div>
            </div>
        </div>
        <div class="col-xs-9 p-v bg-white">
            <div class="">
                <div class="col-xs-12 {{deptObj.message.type}} p-v shadow-z-1" ng-if="deptObj.message.isMsg">
                    {{deptObj.message.message}}
                    <a ng-show="!deptObj.departments.length && deptObj.selectedBranch" ng-click="addNewDepartment(deptObj.selectedBranch)" class="font-bold pull-right">Add new</a>
                </div>

                <div class="col-xs-12 p-v" ng-if="deptObj.departments.length">
                    <div  data-angular-treeview="true" data-tree-id="departmentTree" data-tree-model="deptObj.departments" data-node-output="selectedDepartment" data-node-edit="true" data-node-id="nodeId" data-node-label="name" data-node-type="department" data-node-children="children" ></div>
                </div>
            </div>
            
        </div>
    </div>
</div>