    


<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title text-primary ng-scope" >{{sendOnInterval}}</h4>     
      </div>
      <div class="modal-body" >

          
        <h4>Popover in a modal</h4>
        <p>This <a href="" role="button" class="btn btn-default popover-test ng-scope" data-title="A Title" data-content="And here's some amazing content. It's very engaging. right?" bs-popover="">button</a> should trigger a popover on click.</p>

        <h4>Tooltips in a modal</h4>
        <p><a href="" class="tooltip-test ng-scope" >This link</a> and <a href="" class="tooltip-test ng-scope"  >that link</a> should have tooltips on hover.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>