<div class="row m-t-n">
	<div class="col-xs-12 bg-light h-full p-v" style="min-height:800px;">

	

	<!-- course list related view -->
	<div class="no-padding col-md-12 no-margin" ng-if="!selectedABatch&&!selectedACourse">
	 <!-- search tab for course -->
	 <div class="row no-padding m-b bg-white shadow-z-1 header" style="position:fixed; width:105%; z-index:100;" >
          <div class="col-xs-12 no-padding">


		            <!-- HEADER -->
        <div class="row m">
                <div class="col-xs-4 ">
                  
                  <div class="col-md-push-2 col-xs-push-0 col-md-8 col-xs-12 col-sm-12">

                        <input ng-model="data.searchText" ng-change="searchKeyChanged(data.searchText)" type="text" class="form-control col-xs-8" placeholder="Search Course" />
                  </div>
                </div>
                <div class="col-xs-7 text-right">
                	<div class="btn-group no-margin">
						<button type="button" ng-disabled="data.pageNumber==1" class="btn btn-info" ng-click="pageNavigation('prev')"><i class="fa fa-fw fa-angle-left"></i></button>
						
						<button type="button" ng-disabled="data.courses.courses.length<12" class="btn btn-info" ng-click="pageNavigation('next')"><i class="fa fa-fw fa-angle-right"></i></button>
					</div>
                </div>
        </div>
        </div>
        </div>
        <!-- end of course search tab -->


        <!-- for listing the courses -->
        <div class="" style="margin-top:100px;">
			<span class="col-md-push-2 col-xs-push-1 col-md-8 col-xs-12 col-sm-12 font-bold no-padding m-b" style="text-transform:uppercase;">Select a course</span>
			<div ng-if="data.courses.courses.length==0" class="col-md-push-2 col-md-8 col-xs-12 col-sm-12 p-sm shadow-z-1 alert alert-danger">
	      	<strong translate="{{'There are no courses.!'|translate}}"></strong> 
			</div>
				<div ng-click="goToThisStateWithCourseID(course._id.$oid)" ng-repeat="course in data.courses.courses" class="col-md-push-2 col-md-8 col-xs-12 col-sm-12 p-h-sm shadow-z-1  pull-left bg-white" style="cursor: pointer;">
							<div class="row  p-v-sm b-b" >
								<div class="col-xs-12 font-bold">
									{{course.Name}}
								</div>
								<div class="col-xs-12">
										<i class="mdi-action-exit-to-app text-md pull-right p-xs"  title="View batches">
											<span class="hidden-xs">View batches</span>
										</i>
								</div>
							</div>
				</div>
		</div>
		<!-- end of course list -->
	</div>
	<!-- end of course related view -->


	 <div class="no-padding col-md-12" ng-if="selectedACourse">
		<div class="" style="margin-top:100px;">
				<span class="col-md-push-2 col-xs-push-1 col-md-8 col-xs-12 col-sm-12 font-bold no-padding m-b" style="text-transform:uppercase;">Select a batch</span>
				<div ng-click="goToThisStateWithCourseID('')" ng-if="data.batches.length==0" title="Click to go back to course list" class="col-md-push-2 col-md-8 col-xs-12 col-sm-12 p-sm shadow-z-1 alert alert-danger">
					<i class="mdi-navigation-arrow-back"></i>
		      	<strong translate="{{'There are no batches available under this course.!'|translate}}"></strong> 
				</div>
					<div  ng-repeat="batch in data.batches" class="col-lg-push-2 col-sm-12 col-lg-8 col-xs-12  p-h-sm shadow-z-1  pull-left bg-white" style="cursor: pointer;" ng-class="{'bg-success text-white':batch._id.$oid==data.selectedBatchId}">
						<!-- ng-click="goToThisStateWithBatchID(batch._id.$oid)" -->
								<div class="row  p-v-sm b-b" >
									<div class="col-xs-12 font-bold">
										{{batch.batchName}} <!-- {{batch._id.$oid}} -->
									</div>
									<div class="col-lg-8 col-xs-8 col-sm-6">
										<div class="col-xs-12">
											Number of seats available : {{batch.seats-batch.users.length}}/{{batch.seats}}
										</div>
										<div class="col-xs-12">
											Satrts on : {{batch.startDate.$date| date:'dd-MM-yyyy (EEEE)'}}
										</div>
										<div class="col-xs-12">
											Timing : {{batch.startTime| date:'h:mma'}} to {{batch.endTime| date:'h:mma'}}
										</div>
										<!-- <div class="col-xs-12">
											 {{batch}}
										</div> -->
									</div>
									<div ng-if="data.selectedBatchId==''" class="col-lg-4 col-sm-6 hidden-xs">
										<div ng-click="showUnallocatedMentees(batch)" class="col-xs-12">
												<i class="mdi-action-exit-to-app text-md pull-left p-xs"  title="">
													<span >Add unallocated candidates</span>
												</i>
										</div>
										<div ng-click="data.selectedBatchId=batch._id.$oid" class="col-xs-12">
												<i class="mdi-action-exit-to-app text-md pull-left p-xs"  title="">
													<span >Add candidates from batch</span>
												</i>
										</div>
										<!-- <div class="col-xs-12">
												<i class="mdi-action-exit-to-app text-md pull-left p-xs"  title="">
													<span >Remove candidates</span>
												</i>
										</div> -->
									</div>
									<div ng-if="data.selectedBatchId!=batch._id.$oid&&data.selectedBatchId!=''" class="col-lg-4 col-sm-6 hidden-xs">
										<div ng-click="showMenteeList(batch._id.$oid)" class="col-xs-12">
												<i class="mdi-action-exit-to-app text-md pull-left p-xs"  title="">
													<span >View candidates</span>
												</i>
										</div>
									</div>
									<div ng-if="data.selectedBatchId!=batch._id.$oid" class="col-xs-4 visible-xs">
										<i class="b mdi-navigation-more-horiz text-md pull-right p-xs"  title="">
										</i>
									</div>
								</div>
					</div>
		</div>
	</div>


</div>