


<div class="modal  fade w-auto-xs" tabindex="-1" role="dialog" >
	<div class="modal-dialog modal-xl">
    	<div class="modal-content">
    		<!-- <div class="modal-header" >
        		<button type="button" class="close" ng-click="$hide()">×</button>
        		<h4 class="modal-title ng-binding" ng-bind-html="title" translate="{{'Are you sure?'|translate}}" ></h4>
        		
      		</div> -->
      		<div class="row">

				<div class="col-xs-12 text-center">

					<img class="img-responsive img-thumbnail" width="100%" src="{{imgToBeShown}}" />

				</div>

			</div>

      	
     		
     		<div class="modal-footer">
        		<button type="button" class="btn btn-default" ng-click="$hide()" translate="{{'Close'|translate}}"></button>        		
      		</div>   
   		</div>
	</div> 
</div>      


