<div class="container  bg-white w-xxl shadow p-lg" ng-controller="forgotPassword">  
  <div class="center-block w-xl w-auto-xs m-b-lg">
    <div class="text-2x m-v-lg text-primary"> {{app.name}}</div>
    <div class="m-b">
      <span translate="{{'Forgot your password?'|translate}}"></span>'
      <p class="text-xs m-t" translate="{{'Enter your email address below and we will send you instructions on how to change your password.'|translate}}"></p>
    </div>
    <form name="password_reset_form" class="form-validation" xt-form novalidate>
      <div class="form-group">
        <input type="email" placeholder="{{'Your Email'|translate}}" float-label ng-model="user_email" class="login-form-control" name="username_email" ng-focus="Show_hide_error_msg()" xt-validate required>
      </div>
      <button type="submit" class="btn btn-primary p-h-md m-v-md" ng-disabled="password_reset_form.$invalid||process" ng-click="funGetPassword()" translate="{{'Send'|translate}}"></button>
      <div  ng-class="Error_msg_of_forgot_pwd ? 'login-form-control' : ''" id="login_error_msg"  ng-show="Error_msg_of_forgot_pwd">
      <div class="ms_content" ><span class="content_span">{{forgot_pwd_call_back_error}}</span></div>
      </div>
    </form>
    <p id="alerts-container"></p>
    <p class="m-v-lg"><a ui-sref="login" translate="{{'back to sign in'|translate}}"></a></p>    
  </div>
</div>
