<ul class="dropdown-menu b-white shadow-z-1 w-lg no-padding" ng-class="{'hide-dropdown':!$root.data.userNotification.notifications.length}"  style="max-height: 297px;
  overflow-y: auto;">
  <li ng-repeat="notification in $root.data.userNotification.notifications">
    <div ng-class="{'bg-light':!notification.read}" class="b-b">
      <div class="baab-list-item p-xs " ng-click="notificationLink(notification,$root.data.userNotification)">
        <div class="text-black">{{notification.message}}</div>
        <i class="text-muted mdi-editor-insert-comment"></i>
        <span class="text-muted text-xs">{{notification.createdDate.$date |  date:"MM/dd/yyyy 'at' h:mma"}}</span>
      </div>
    </div>
  </li>
  <li>
    <a class="bg-light text-center text-info p-v-sm" ui-sref="home.main.notifications">See All</a>
  </li>
</ul>
