<div class="col-xs-12 bg-white" style="margin-top: -62px;">
	<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Course</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="Course">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Branch</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="Branch">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">College Name</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="College Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-primary">Register Now</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
