<div class="col-xs-12 bg-white" style="margin-top: -62px;">
	<div class="row" ng-if="data.courseList.length"><!-- 
        <div class="col-xs-12"  ng-repeat="(key, courses) in data.courseList" > -->
        	<!-- <div class="col-xs-12 text-u-c font-bold text-lg p-v-xs">{{key}}</div> -->
        	<div class="col-xs-12">
        	<div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
        		
        		<div masonry-tile class="tile col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left masonry-brick" ng-repeat="course in data.courseList"> 
        			<div class="panel course-box m-v" >
	                 	<div class="p text-right">
	                 		<a ng-if="course.companyId.$oid==companyId" data-placement="bottom-right" data-html="true" bs-dropdown="data.courseDropdown"><i class="mdi-navigation-more-vert text-lg" ></i></a>
	                 	</div>
	                 	<div class="panel-body" ng-click="viewCourseDetails(course._id.$oid)" style="cursor:pointer; cursor: hand;">
	                 		<div class="text-center">
	                 			<img src="{{ course.courseImg }}" >
	                 		</div>
	                 		<div class="font-bold text-black p-v-xs m-h-sm">{{course.Name}}</div>
	                 		<div class="text-black  course-description text-muted content-limiter" ng-bind-html="course.courseDetails[0].value"></div>
	                 	</div>
	                 	<div class="panel-footer text-center no-padding " style="background-color:#fff;">
	                 		<a class="btn btn-success baab-btn" style="line-height: 15px;" ui-sref="courseUserRegistration({courseId:course._id.$oid})" target="_blank">Register now</a>
	                 	</div>
                	</div>
           		</div>
           	</div>
           	</div>
        <!-- </div>  -->
    </div>
    <div class="row" ng-if="!data.courseList.length && data.courseList">
    	<div class="col-xs-12 p bg-warning shadow-z-1">
    		There are no course(s) found
    	</div>
    </div>
</div>
