<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
  		<form class="form-horizontal ng-pristine ng-valid" style="cursor: pointer;">
            <div class="panel">
                <div class="panel-body p-sm">
                </div>
             </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Register Now</button>
      </div>
    </div>
  </div>
</div>
