<div class="col-xs-12">
      <div class="panel b-a">
        <div class="panel-body">
	        <div class="col-xs-12 col-md-6" >
	        	<div class="font-bold" > 
              <span translate="{{'User Customizable Form List'|translate}}"></span>
              <hr>
	        	</div>
					<div class="list-group">              
	             	 <a href ng-click="fnselectForm(form);status.formSelect = $index"  class="list-group-item animated flipInX" ng-repeat="form in formlist" >{{form.formName}} <i ng-show="status.formSelect==$index" class="pull-right fa fa-check-circle text-primary"></i></a>
	        </div>
	        	
			</div> 


	        	<div ng-show="selectFormcheck" class="col-xs-12 col-md-6 panel-body">
    <div class="panel b-light">
        <div class="panel-heading b-b b-light">
         {{customForm.formDisplayName}} Form Details
        </div>
        
      <div class="panel-body">
        <form name="formCustomizer" class="form-validation" role="form" xt-form editable-form novalidate>
        <div ng-show="formNameFieldActive" class="form-group ">
    		
    		
         <input type="text"class="form-control" float-label msg-pattern="enter a valid form name (used to fetch the form )" ng-pattern="AlfaPattern" placeholder="{{'Form Name'|translate}}"  xt-validate required name="formName"  ng-model="customForm.formName">
        </div>
        <!-- <div ng-hide="formNameFieldActive" class="form-group ">
         <input type="text"class="form-control" placeholder="{{'Form'|translate}} Name" readonly xt-validate required name="formName"  ng-model="customForm.formName">
        </div> -->
        <!-- {{formNameFieldActive}} -->
        
        <div class="form-group ">
         <input type="text"class="form-control" float-label msg-pattern="Enter the Form Display Name"placeholder="{{'Form Display Name'|translate}}" xt-validate required name="formDisplayName"  ng-model="customForm.formDisplayName" indicate-val="required">
        </div>
       
        <!-- <div class="row-fluid form-group">
          <div class="col-xs-12">
            <label  class="font-bold" for="definpu"></label><br>
            <em class="text-muted">
              Here you can select roles which the user should <br>
              be able to assign the currently adding form
            </em><br>   
            <div multi-selectable input-model="rolelist" output-model="customForm.roleSchema" button-label="Name" item-label="Name" tick-property="ticked" helper-elements="all none reset filter" required>
            </div>       
          </div>
        </div> -->
        

       <div ng-hide="formNameFieldActive" class=" m-v-lg">
          <div class="formgen-dropdown">
          <select placeholder="{{'Select Role'|translate}}" data-animation="am-fade-and-slide-top" ng-change="fnroleChange(customForm.roleSchema)" ng-model="customForm.roleSchema" ng-options="value.Name for (key, value) in rolelist" data-html="true"  bs-select></select>
          </div>
        </div> 

        <!-- <pre>{{customForm.roleSchema}}</pre> -->
        </form>
      </div>
	 </div>

	 </div>




	        
				<div ng-show="selectFormcheck" class="col-xs-6 col-xs-12 col-md-offset-3 col-xs-offset-3">
        			<a ui-sref="home.main.formCustomizer.SelectStep" ng-click="animation=next" class="btn btn-block btn-info" ng-disabled="formCustomizer.$invalid" >
              <b class="font-normal" translate="{{'Next Section'|translate}}"></b>
               <span class="glyphicon glyphicon-circle-arrow-right"></span>
        			</a>
    			</div>

        </div>
      </div>
</div>
















