<div class="col-xs-12 bg-light">
  
  <!-- <div class="row bg-white shadow-z-1 p-v-sm fixed-tab">
    <div class="col-xs-12  text-right p-v-xs">
      <a href="" bs-tooltip data-placement="left" data-title="Create new branch"><i class="mdi-content-add text-2x text-black" ng-click="newBranch()"></i></a>
    </div>
  </div> -->
  <!-- style="margin-top:56px;" id="branch" -->
  <div class="row bg-white" >
    <!-- <div class="col-xs-12">
      <div class="row">
        <pre>{{branchObj.branches}}</pre>
      </div>
    </div> -->
    <div class="col-xs-12 p-v">
      <div class="row" ng-if="branchObj.viewTree">
        <div  data-angular-treeview="true" data-tree-id="syllabusTree" data-tree-model="branchObj.branches" data-node-output="selectedData" data-node-edit="true" data-node-id="nodeId" data-node-label="name" data-node-type="branch" data-node-children="children" ></div>
      </div>
    </div>
  </div>

</div>
