<!-- Created by Jihin 12 AUG 2015-->

<div class="aside shadow-z-1">
  <div class="aside-dialog">
    <div class="aside-content  ">
      <div class="aside-header" >
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="aside-title ng-binding">{{branchObj.message}}</h4>
      </div>
      <div class="aside-body no-padding-v" >
        <form name="branchDetail" class="form-validation ng-pristine ng-invalid ng-invalid-required">

            <!-- Branch name -->
            <div class="form-group">
              <input type="text" class="form-control floating-label" placeholder="Branch Name" ng-model="branchObj.currentTopBranch.name" required>
            </div>

            <!-- Email Id -->
            <div class="form-group">
              <input type="email" class="form-control floating-label" placeholder="Email Id" ng-model="branchObj.currentTopBranch.eMail">
            </div>

            <!-- Phone number -->
            <div class="form-group">
              <input type="text" class="form-control floating-label" placeholder="Phone" ng-model="branchObj.currentTopBranch.phone" >
            </div>

            <!-- Location -->
            <div class="form-group">
              <input type="text" class="form-control floating-label" placeholder="Location" ng-model="branchObj.currentTopBranch.location">
            </div>
        </form>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-info baab-btn"  ng-click="changesHappenedInBranch(branchObj.currentTopBranch, $hide)" translate="{{branchObj.btnName|translate}}" ng-disabled="branchDetail.$invalid"></button>
      </div>
    </div>
  </div>
</div>
