<span>

<div class="text-name font-bold">{{data.userDetails.Name}}</div>
<div class="text-muted" style="text-transform: lowercase;">{{data.userDetails.userName}}</div>

<!-- 	<div ng-if="data.userDetails">
		<div class="row">
			<div class="col-xs-1">Name</div>
			<div class="col-xs-11">: {{data.userDetails.Name}}</div>
		</div>
		<div class="row">
			<div class="col-xs-1">Email</div>
			<div class="col-xs-11">: {{data.userDetails.userName}}</div>
		</div>
	</div>
	<div class="text-center" ng-if="!data.userDetails">
    	<i class="fa fa-circle-o-notch fa-spin text-lg text-info"></i>
	</div> -->
</span>