<div class="col-xs-12 bg-light">
  <!-- Requestee details -->
  <div class="row p-h" style="padding-bottom: 15px;" ng-if="!data.requesteeDetailsCompleted && data.orderForm.requesteeDetails.type != 'self'">
    <!-- Requiste type -->
   <!--  <div class="p-sm b-b b-2x b-success">
        <div class="p-h pull-left">Requisting as a</div>
        <div class="radio radio-inline radio-info no-padding no-margin">
          <label>
            <input type="radio" name="requisteType" ng-change="requisteTypeChanged('company')" ng-model="data.requesteeDetails.type" value="company" checked="">Company
          </label>
        </div>
        <div class="radio radio-inline radio-info">
          <label>
            <input type="radio" name="requisteType" ng-change="requisteTypeChanged('individual')" ng-model="data.requesteeDetails.type" value="individual">Individual
          </label>
        </div>
    </div> -->
    <form name="requesteDetails">
      <div class="panel-body">
    <!-- shows Requestee details, based on there type -->
    <div  ng-if="data.orderForm.requesteeDetails.type =='company'">
      
      <div class="col-xs-6 m-h-n">

        <!-- Email -->
        <div class="form-group">
                <label  class="col-xs-3">Email*</label>
                <div class="col-xs-9">
                    <input type="email"  ng-model="data.orderForm.requesteeDetails.eMail" class="form-control" placeholder="Email ID" ng-blur="checkUserAlreadyExists()">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Company Name -->
        <div class="form-group">
                <label  class="col-xs-3">Company Name*</label>
                <div class="col-xs-9">
                    <input type="text" required ng-model="data.orderForm.requesteeDetails.companyName" class="form-control" placeholder="Company Name">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">
        <!-- contact person -->
        <div class="form-group">
          <label  class="col-xs-3">Contact person*</label>
          <div class="col-xs-9">
            <input type="text" required ng-model="data.orderForm.requesteeDetails.contactPerson" class="form-control" placeholder="Contact person">
          </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Phone -->
        <div class="form-group">
                <label  class="col-xs-3">Phone*</label>
                <div class="col-xs-9">
                    <input type="number" ng-model="data.orderForm.requesteeDetails.phone" class="form-control" placeholder="Phone">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Address -->
        <div class="form-group">
                <label  class="col-xs-3">Address</label>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="3" ng-model="data.orderForm.requesteeDetails.address" placeholder="Address"></textarea>
                </div>
        </div>
      </div>

    </div>

    <div ng-if="data.orderForm.requesteeDetails.type =='individual'">
      
      <div class="col-xs-6 m-h-n">

        <!-- Email -->
        <div class="form-group">
                <label  class="col-xs-2">Email*</label>
                <div class="col-xs-10">
                    <input type="email" ng-model="data.orderForm.requesteeDetails.eMail" class="form-control" placeholder="Email" required ng-blur="checkUserAlreadyExists()">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Phone -->
        <div class="form-group">
                <label  class="col-xs-2">Phone</label>
                <div class="col-xs-10">
                    <input type="number" ng-model="data.orderForm.requesteeDetails.phone" class="form-control" placeholder="Phone">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- First Name -->
        <div class="form-group">
                <label  class="col-xs-2">First Name*</label>
                <div class="col-xs-10">
                    <input type="text" required ng-model="data.orderForm.requesteeDetails.firstName" class="form-control" placeholder="First Name">
                </div>
        </div>
      </div>

      

      <div class="col-xs-6 m-h-n">

        <!-- Last Name -->
        <div class="form-group">
                <label  class="col-xs-2">Last Name</label>
                <div class="col-xs-10">
                    <input type="text"  ng-model="data.orderForm.requesteeDetails.lastName" class="form-control" placeholder="Last Name">
                </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Gender -->
        <div class="col-xs-2 p-v">Gender</div>
        <div class="col-xs-10 p-v">
          <div class="radio radio-inline radio-info no-padding no-margin">
            <label>
              <input type="radio" name="Gender" ng-model="data.orderForm.requesteeDetails.gender" value="Male" checked="">Male
            </label>
          </div>
          <div class="radio radio-inline radio-info">
            <label>
              <input type="radio" name="Gender" ng-model="data.orderForm.requesteeDetails.gender" value="Female">Female
            </label>
          </div>
        </div>
      </div>

      <div class="col-xs-6 m-h-n">

        <!-- Address -->
        <div class="form-group">
                <label  class="col-xs-2">Address</label>
                <div class="col-xs-10">
                    <textarea class="form-control" rows="3" ng-model="data.orderForm.requesteeDetails.address" placeholder="Address"></textarea>
                </div>
        </div>
      </div>
      </div>
    </div>
    <div class="panel-footer text-right">
     <button ng-disabled="(requesteDetails.$invalid) || !(data.requesteeDetails.eMail || data.orderForm.requesteeDetails.phone)" type="button" ng-click="data.requesteeDetailsCompleted = true" class="btn btn-success baab-btn">Next</button>
    </div>
  </form>
    
  </div>

<div class="row" ng-if="data.requesteeDetailsCompleted || data.orderForm.requesteeDetails.type == 'self'">

  <div class="col-sm-8 col-sm-offset-2 m-v">

    <div class="shadow-z-2">
    <form  name="userRegistrationForm"  class="form" xt-form editable-form novalidate>
      <div class="text-center bg-light">
          <div set-sub-heading-and-background-color class="p font-bold btn-material-blue-A400 col-xs-6" ng-class="{'baab-shadow':status.selected == 1}" ng-click="status.selected = 1" style="cursor: pointer;">Personal Details</div>
          <div set-sub-heading-and-background-color ng-disabled="userRegistrationForm.$invalid"  class="p font-bold btn-material-orange-A700 col-xs-6" ng-class="{'baab-shadow':status.selected == 2}" ng-click="status.selected = 2" style="cursor: pointer;">Other Details</div>
         <!--  <div id="status-buttons" class="text-center">
              <a class="font-bold" ng-class="{active:status.selected == $index+1}" ui-sref-active="active"  ng-repeat="i in formlist.formSchema" style="line-height: 20px;" ng-click="status.selected = $index+1"><span>{{$index+1}}</span></a>
          </div> -->
         
      </div>

      <div class="panel-body"  ng-if="allSync.dateRange.minDate">
          <div fg-form fg-form-data="allSync.FormData" form-data="allSync.FormData" sync-data="allSync" fg-schema="formlist.formSchema[status.selected].stepFormSchema">
          </div>

          <div ng-if="status.selected == 1" class="col-xs-6 col-xs-offset-3">
              <a ng-click="status.selected = status.selected+1; data.firstFormValid = true;" ng-disabled="!userRegistrationForm.$valid" class="btn btn-block btn-info"> Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
          </div>
          <!-- ng-disabled="userRegistrationForm.$invalid" -->
          <div ng-if="false" ng-show="status.selected == 2">
            
           <div class="col-xs-4 col-xs-offset-2">
              <a ng-click="status.selected = status.selected-1" ng-disabled="userRegistrationForm.$invalid" class="btn btn-block btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span> Previous Section </a>
          </div>
          <div class="col-xs-4 ">
              <a ng-click="status.selected == 1" ng-disabled="userRegistrationForm.$invalid" class="btn btn-block btn-info" > Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
          </div>
          </div>
          <!-- ng-disabled="userRegistrationForm.$invalid" -->
          <div ng-show="status.selected==2" class="col-xs-12 text-center">
            <button ng-if="data.orderForm.requesteeDetails.type != 'self'" ng-disabled="userRegistrationForm.$invalid||fnUserRegisterClicked" type="button" class="btn btn-info baab-btn" ng-click="fnUserRegister(0)">Register & Register Another</button>
            <button ng-disabled="userRegistrationForm.$invalid||finshRegisterationClicked" type="submit" class="btn btn-success baab-btn" ng-click="finshRegisteration(1)">Finish & Generate Order Form</button>
          </div>

      

      </div>

  	  </form>
    </div>	
 
  </div>
</div>


</div>